.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0, 0;
  padding-right: 10px;
  transition: background-color 0.3s ease;
  min-width: 250px;
}

.container:hover {
  background-color: rgba(56, 195, 227, 0.5);
  cursor: pointer;
}

.productImage {
  width: 150px;
  height: 100px;
  margin: 50px 0 10px 0;
  object-fit: contain;
  object-position: center;
}

.logo {
  position: absolute;
  width: 150px;
  top: -50px;
}

.product-name {
  text-align: center;
  max-width: 290px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-container-non {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

.strike {
  text-decoration: line-through;
  color: red;
}

.discount {
  color: green;
}

.nondiscount {
  color: red;
}

.avisvare {
  font-weight: 500;
  color: white;
  background-color: #19619E;
  border-radius: 56px;
  margin-top: 25px;
  padding: 7px 20px 7px 20px;
}

