
.pagination-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: auto;
}

.homer {
	position: fixed;
	width: 100px;
	bottom: -20px;
	z-index: 300;
}

.eye1 {
	position: absolute;
	width: 8px;
	top: 22px;
	left: 35px;
	border-radius: 4px;
}

.eye2 {
	position: absolute;
	width: 7px;
	top: 20px;
	left: 47px;
	border-radius: 15px;
}

.homerLogo {
	position: absolute;
	width: 38px;
	z-index: 200;
	top: 78px;
	left: 40px;
	transform: rotate(350deg);
}

.bottom-container {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
}
