.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 77, 142, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.title {
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
}

.headerMenu {
  display: flex;
  min-width: 700px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.headerLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.search-field {
  color: white;
  width: 400px;
  padding: 10px 100px 10px 10px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 15px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homer {
  position: fixed;
  width: 100px;
  bottom: -20px;
  z-index: 300;
}

.eye1 {
  position: absolute;
  width: 8px;
  top: 22px;
  left: 35px;
  border-radius: 4px;
}

.eye2 {
  position: absolute;
  width: 7px;
  top: 20px;
  left: 47px;
  border-radius: 15px;
}

.homerLogo {
  position: absolute;
  width: 38px;
  z-index: 200;
  top: 78px;
  left: 40px;
  transform: rotate(350deg);
}
